@media (max-width: 84em) {
  :root {
    --p-font: 1.4rem;
    --h1-font: 7rem;
  }

  header {
    padding: 1.4rem 8%;
  }

  section {
    padding: 0 10%;
  }

  .hero {
    gap: 2.4rem;
  }

  .social-icons {
    left: -5%;
  }

  .btn-box {
    right: 10%;
    bottom: 20%;
  }

  .btn-box i {
    height: 4rem;
    width: 4rem;
    font-size: 2.4rem;
  }
}

@media (max-width: 60em) {
  header {
    padding: 2rem 5%;
    background-color: #19130eda;
    /* backdrop-filter: blur(1rem); */
  }

  :root {
    --h1-font: 5rem;
    --p-font: 1.4rem;
    --md-font: 2rem;
  }

  .n-btn:link,
  .n-btn:visited {
    padding: 1rem 2rem;
  }

  .hero {
    padding-top: 10rem;
    height: 100vh;
  }

  .btn-box {
    bottom: 5%;
    right: 5%;
  }

  .btn-box i {
    width: 3rem;
    height: 3rem;
    font-size: 2rem;
  }

  .social-icons {
    top: 55%;
  }

  .hero-img {
    padding-top: 2rem;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .hero-img img {
    width: 80%;
  }
}

@media (max-width: 42em) {
  :root {
    --h1-font: 4.5rem;
    --p-font: 1.2rem;
    --md-font: 1.4rem;
  }

  .logo img {
    width: 60%;
  }

  .n-btn:link,
  .n-btn:visited {
    padding: 0.8rem 1.6rem;
  }

  #menu-icon {
    font-size: 4rem;
  }

  header {
    padding: 1.2rem 6%;
  }

  .hero-text {
    text-align: center;
  }

  .hero {
    padding-top: 10rem;
    grid-template-columns: 1fr;
    height: auto;
  }

  #menu-icon {
    display: block;
  }

  .social-icons,
  .btn-box {
    display: none;
  }

  .nav {
    position: absolute;
    right: -100%;
    top: 100%;
    backdrop-filter: blur(30px);
    display: flex;
    flex-direction: column;
    padding: 2.4rem 4.8rem;

    transition: all 0.5s ease-in-out;
  }

  .nav.open {
    right: 0;
    backdrop-filter: blur(2rem);
  }

  .nav a:link,
  .nav a:visited {
    display: block;
    padding: 0;
    margin: 1.5rem 5rem;
    font-size: 1.6rem;
  }
}
